* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-one: rgb(1, 160, 252);
  --color-two: #f6f6f6;
}
body,
html {
  overflow-x: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-title {
  text-transform: capitalize;
  text-align: center;
}
.container-title span {
  color: var(--color-one);
}
.main-container {
  padding: 2rem;
}
.container-cards {
  columns: 3;
  margin-top: 1rem;
  gap: 1.5rem;
}
.card {
  box-shadow: 0 2px 4px 0 rgba(50, 50, 93, 0.2);
  border-radius: 7px;
  padding: 0.7rem 1rem;
  background-color: var(--color-two);
  height: max-content;
  margin-bottom: 1.5rem;
  break-inside: avoid;
}
.header {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.header-image-div {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  overflow: hidden;
}
.header-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.header-name,
.header-position {
  text-transform: capitalize;
  font-size: 17px;
}
.header-name {
  font-weight: 550;
}
.header-position {
  color: rgb(122, 121, 121);
}
.card-content-description {
  text-align: justify;
  line-height: 1.3rem;
}
.card-content-socials {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.card-content-socials a {
  margin: 0 0.7rem;
  text-decoration: none;
  color: var(--color-one);
  font-size: 20px;
}
@media screen and (max-width: 900px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header-name,
  .header-position {
    text-align: centerd;
  }
}
@media screen and (max-width: 756px) {
  .container-cards {
    columns: 2;
  }
}
@media screen and (max-width: 576px) {
  .container-cards {
    columns: 1;
  }
}
